{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "eslint-plugin-import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "no-unused-vars": "off",
    "import/extentions": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignmen": "off",
    "import/prefer-default-export": "off",
    "import/extensions": ["off"],
    "import/no-unresolved": ["off"],
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
